<div ng-controller="AppCtrl">
<input type="hidden" name="dummy" value="0" ng-model="dummy"/>
  <md-content>
    <md-list>
    <h1>Accounts</h1>
          <md-divider ></md-divider>
    
      {% for acc in accounts %}
      <md-list-item class="md-3-line">
        <div class="md-list-item-text">
          <h3><b>Account: </b> {{ acc.getNumber }}</h3>
          <h4><b>Balance: </b>{{ acc.getBalance }}</h4>
        </div>
      </md-list-item>      
      <md-divider ></md-divider>
      {% endfor %}
    </md-list>
  </md-content>
</div>