<div flex layout="row" layout-align="center center" ng-controller="AppCtrl">
     <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                <form name="transferForm" ng-submit="doTransfer()">
                    <md-input-container>
                        <label>Source Account:</label>
                        <input ng-model="sourceAccount" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Target Account:</label>
                        <input ng-model="targetAccount" required>
                    </md-input-container>
 
                    <md-input-container>
                        <label>Ammount:</label>
                        <input type="number" min="0" ng-model="ammount" required>
                    </md-input-container>
 
                    <md-button type="submit" class="md-primary"
                               ng-class="{'md-raised md-hue-1': (transferForm.$dirty && transferForm.$valid) }"
                               aria-label="Transfer">Transfer</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>